body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 10px;
    text-align: center;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
.responsive-img {
    max-width: 75%;
    height: auto;
}

@media screen and (min-width: 210px) {
    .responsive-img {
        max-width: 22%; /* Establecer el tamaño mediano en pantallas grandes */
    }
}
#skills-list {
    list-style-type: none;
    padding: 0;
}
.skill-item {
    margin-bottom: 10px;
}